.terms_text_one{
    text-align: left;
    margin-top: 5%;
    margin-left: 20%;
position: absolute;
width: 788px;
height: 175px;

top: 152px;


}

.terms_text_two{
    
   text-align: left;
    margin-top: 15%;
    margin-left: 20%;
position: absolute;
width: 788px;
height: 175px;
top: 152px;


}



/*.Terms_and_condition_flex{
    display: flex;
    flex-direction: left;
  flex-wrap: wrap;
}*/

@media only screen and (max-width:986px) and (min-width:540px){
    .terms_text_one{
       width:90%;
       left: 0px;
       margin-left: 1%;
       margin-right: 1%; 
    }

    .terms_text_two{
        width:90%;
        margin-top: 25%;
        width:80%;
        left: 0px;
        margin-left: 1%;
        margin-right: 1%;
    }
   
}

@media only screen and (max-width:540px) and (min-width:436px){
    .terms_text_one{
        width:90%;
        margin-left: 0%;
        margin-right: 1%; 
        margin-top: 5%;
     }
 
     .terms_text_two{
         width:90%;
         margin-top: 35%;
         width:80%;
         left: 0px;
         margin-left: 1%;
         margin-right: 1%;
     }
   
}

@media only screen and (max-width:435px) and (min-width:358px){
    .terms_text_one{
        width:90%;
        margin-left: 1%;
        margin-right: 1%; 
        margin-top: 15%;
     }
 
     .terms_text_two{
         width:90%;
         margin-top: 55%;
         width:80%;
         left: 0px;
         margin-left: 1%;
         margin-right: 1%;
     }
   
}

@media only screen and (max-width:358px) {
    .terms_text_one{
        width:90%;
        margin-left: 0%;
        margin-right: 1%; 
        margin-top: 15%;
     }
 
     .terms_text_two{
         width:90%;
         margin-top: 65%;
         width:80%;
         left: 0px;
         margin-left: 1%;
         margin-right: 1%;
     }
   
}