.terms_text_one{
    text-align: left;
    margin-top: 10%;
    margin-left: 13%;
position: absolute;
width: 788px;
height: 175px;
left: 144px;
top: 152px;


}

.terms_text_two{
    
   text-align: left;
    margin-top: 200px;
    margin-left: 13%;
position: absolute;
width: 788px;
height: 175px;
left: 144px;
top: 152px;


}

#terms_text_two_title::after{
    content: "\a";
    white-space: pre;
    
}

#terms_text_two_content::after{
    content: "\a";
    white-space: pre;
}

@media only screen and (max-width: 950px){
    .terms_text_one{
        
       margin-left: 1%;
        left: 0px;
        width: 100%;
       
    }

    .terms_text_two{
        top:30%;
        width: 100%;
        margin-left: 1%;
        left: 0px;
    }
    #terms_text_two_content::after{
        display: none;
    }
}