.container {
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 500px;
   width:auto;
   

}

.homepage_text_one{
    padding-left: 350px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: 18px;
}

.box_one{
    margin-left: 350px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_two{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left; 
}

.box_three{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_four{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_five{
    margin-top: 20px;
    margin-left: 350px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_six{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_seven{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_eight{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.homepage_text_two{
    padding-left: 350px;
    padding-top: 230px;
    font-weight: bolder;
    font-size: 18px;
}

.box_nine{
    margin-left: 350px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left; 
}

.box_ten{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left; 
}

.box_eleven{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_twelve{
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_thirteen{
    margin-top: 20px;
    margin-left: 350px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_fourteen{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;  
}

.box_fifteen{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

.box_sixteen{
    margin-top: 20px;
    margin-left: 50px;
    width:130px;
    height:80px;
    border:2px black solid;
    float:left;
}

@media only screen and (min-width:1670px){
    .homepage_text_one{
        padding-left: 1000px;
        padding-top: 20px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 1000px;
        padding-top: 230px;
        font-weight: bolder;
        font-size: 18px;
    }
    .box_one{
        margin-left: 1000px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        margin-top: 20px;
        margin-left: 1000px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    .box_nine{
        margin-left: 1000px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_thirteen{
        margin-top: 20px;
        margin-left: 1000px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
}

@media only screen and (max-width:1670px) and (min-width:1500px){
    .homepage_text_one{
        padding-left: 500px;
        padding-top: 20px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 500px;
        padding-top: 230px;
        font-weight: bolder;
        font-size: 18px;
    }
    .box_one{
        margin-left: 500px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        margin-top: 20px;
        margin-left: 500px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    .box_nine{
        margin-left: 500px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_thirteen{
        margin-top: 20px;
        margin-left: 500px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
}


@media only screen and (max-width: 1020px) and (min-width: 762px){
    .box_one{
        margin-left: 12%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        
        margin-top: 20px;
        margin-left: 12%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_nine{
        margin-left: 12%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_thirteen{
        margin-top: 20px;
        margin-left: 12%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    .homepage_text_one{
        padding-left: 350px;
        padding-top: 0px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 350px;
        padding-top: 180px;
        font-weight: bolder;
        font-size: 18px;
    }
}

@media only screen and (max-width: 762px) and (min-width: 678px) {
   
    .box_one{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        
        margin-top: 20px;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    

    .box_nine{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_thirteen{
        margin-top: 20px;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    .homepage_text_one{
        padding-left: 50px;
        padding-top: 0px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 50px;
        padding-top: 180px;
        font-weight: bolder;
        font-size: 18px;
    }
}

@media only screen and (max-width: 678px) and (min-width: 544px) {
    .homepage_text_one{
        padding-left: 50px;
        margin-top: 15%;
        font-weight: bolder;
        font-size: 18px;
    }

    .homepage_text_two{
        padding-left: 50px;
        margin-top: -20%;
        font-weight: bolder;
        font-size: 18px;
    }
    .box_one{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_two{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_three{
       
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_four{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_six{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_seven{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_eight{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_nine{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_ten{
       
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_eleven{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_twelve{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_thirteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_fourteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;  
    }
    .homepage_text_one{
        padding-left: 30px;
        padding-top: 0px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 30px;
        padding-top: 335px;
        font-weight: bolder;
        font-size: 18px;
    }

    .box_fifteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        padding-bottom: 10%;
    }
    
    .box_sixteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        margin-bottom: 500px;
    }

    .home_flex { 
        margin-top: -50px;
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8); /* IE 9 */
        -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
        -o-transform: scale(0.8, 0.8); /* Opera */
        -moz-transform: scale(0.8, 0.8); /* Firefox */
      }
   }

@media only screen and (max-width: 543px) and (min-width: 449px){
    .box_one{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_two{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_three{
       
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_four{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_six{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_seven{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_eight{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_nine{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_ten{
       
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_eleven{
        
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_twelve{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_thirteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_fourteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;  
    }
    .homepage_text_one{
        padding-left: 30px;
        padding-top: 0px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 30px;
        padding-top: 335px;
        font-weight: bolder;
        font-size: 18px;
    }

    .box_fifteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        padding-bottom: 10%;
    }
    
    .box_sixteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        margin-bottom: 500px;
    }

    .home_flex { 
        margin-top: -50px;
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8); /* IE 9 */
        -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
        -o-transform: scale(0.8, 0.8); /* Opera */
        -moz-transform: scale(0.8, 0.8); /* Firefox */
      }
}

@media only screen and (max-width: 448px) {
   
    .box_one{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_three{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_four{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_five{
        
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_six{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_seven{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_eight{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_nine{
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left; 
    }

    .box_eleven{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }
    
    .box_twelve{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_thirteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
    }

    .box_fourteen{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;  
    }
    .homepage_text_one{
        padding-left: 30px;
        padding-top: 0px;
        font-weight: bolder;
        font-size: 18px;
    }
    .homepage_text_two{
        padding-left: 30px;
        padding-top: 335px;
        font-weight: bolder;
        font-size: 18px;
    }

    .box_fifteen{
        margin-top: 1%;
        margin-left: 1%;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        padding-bottom: 10%;
    }
    
    .box_sixteen{
        margin-top: 1%;
        margin-left: 50px;
        width:130px;
        height:80px;
        border:2px black solid;
        float:left;
        margin-bottom: 500px;
    }

    .home_flex { 
        margin-top: -50px;
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8); /* IE 9 */
        -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
        -o-transform: scale(0.8, 0.8); /* Opera */
        -moz-transform: scale(0.8, 0.8); /* Firefox */
      }
}

