@import '~antd/dist/antd.less';

#navbar-wrapper {
    overflow: hidden;
}

#footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #body-wrapper {
    padding-top: 60px;
}